azure-common==1.1.26
azure-core==1.11.0
azure-graphrbac==0.61.1
azure-identity==1.4.1
azure-mgmt-authorization==0.61.0
azure-mgmt-containerregistry==2.8.0
azure-mgmt-keyvault==2.2.0
azure-mgmt-resource==12.1.0
azure-mgmt-storage==11.2.0
azure-storage-blob==12.8.0
azureml==0.2.7
azureml-automl-core==1.23.0
azureml-contrib-notebook==1.23.0
azureml-core==1.23.0
azureml-dataprep==2.10.1
azureml-dataprep-native==30.0.0
azureml-dataprep-rslex==1.8.1
azureml-dataset-runtime==1.23.0
azureml-pipeline==1.23.0
azureml-pipeline-core==1.23.0
azureml-pipeline-steps==1.23.0
azureml-sdk==1.23.0
azureml-telemetry==1.23.0
azureml-train==1.23.0
azureml-train-automl-client==1.23.0.post1
azureml-train-core==1.23.0
azureml-train-restclients-hyperdrive==1.23.0
Click==7.0
PyYAML==5.1.2
